{% extends "base.html" %}
{% load static %} 
{% block meta %}
<title>Change Password</title>
<link
  rel="stylesheet"
  href="{% static 'authentication/css/registerUser.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'profilepage/css/style.css' %}"
/>
{% endblock meta %} 
{% block content %}
<body>
  <div class="container d-flex justify-content-center">
    <div style="padding-bottom: 20px; padding-top: 20px;">
      <button href="#" type="cancel" onclick="history.back();return false" class="btn btn-danger" id="bodyButton"
      >Go Back</button>
    </div> 
    <div class="sign-up show">
      {% comment %} show message error {% endcomment %}
      {% if form.errors %}
      <div class="alert alert-danger text-center" role="alert">
        {% for field in form %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
      {% comment %} show message success {% endcomment %}
      {% if messages %}
      <div class="alert alert-success" role="alert">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      <form 
        method="POST" 
        class="form-signup">
        
        {% csrf_token %}
        <h2>Change Password</h2>
        <div class="flexing">
          <div class="form-left">
            <div class="input-wrapper-register mb-4">
              {{form.old_password}}
              <label>Old Password</label>
            </div>
            <div class="input-wrapper-register mb-4">
              {{form.new_password1}}
              <label>New Password</label>
            </div>
            <div class="input-wrapper-register mb-4">
              {{form.new_password2}}
              <label>Retype Password</label>
            </div>
          </div>
        </div>
        <div class="center">
          <button type="submit" class="button1" id="bodyButton">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</body>

{% endblock content %}